nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 10px 0 10px ;
  width: 100%;
  min-height: 5vh;
  display: flex;
  align-items: center;

}
.logo{
  text-align: center;
  width: 300px;
}
.logo a{
  align-items: center;
  margin: auto;
  line-height: 50px;
}
.logo img{
  height: 50px;
  width: auto;
  margin: auto 30px;
  vertical-align: middle;
  display: inline-block;
}
.logo span{
  margin: auto;
  color: #fefefe;
  font-size: 25px;
}
.nav-buttons{
  margin: auto;
  text-align: center;
}
.nav-buttons a{
  margin-left: 50px;
  color: red;
  font-weight: bold;
  text-transform: capitalize;
}
*{
  font-family: 'Heebo', sans-serif;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
#intro{
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}
.bg-holder{
  background-image: url("/stubbs/img/bg/home-1.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: 768px;
  display: flex;
  align-items: center;
}
.bg-holder img{
  margin: 25vh;
  width: auto;
  height: 700px;
  position: relative;
  z-index: 2;
}
.big-intro-text{
  font-size: 150px;
  width: 100%;
  position: absolute;
  opacity: 0.3;
  z-index: 0;
}
.big-intro-text div{
  max-width: 1000px;
  margin: auto;
}

.big-intro-text span{
  text-align: right;
  max-width: 800px;
  height: auto;
  display: block;
  vertical-align: text-bottom;
}
.animation-field{
  margin:auto;
  width: auto;
  height: 100px;
  text-align: center;
}
.explore-button{
  position: relative;
  top: -40%;
  background: red;
  width: auto;
  display: inline-block;
  padding: 10px 50px;
  border-radius: 3px;
  color: white;
  box-shadow: 0px 6px 15px -4px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 6px 15px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 6px 15px -4px rgba(0,0,0,0.75);
}
.down-arrow{
  border-right:1px solid rgb(222, 222, 222);
  border-bottom:1px solid rgb(222, 222, 222);
  height: 20px;
  width: 20px;
  margin: 5px;
  transform: rotate(45deg);
}
#highlights{
  position: relative;
  height: 800px;
}
/*screens: start of greater than 1024 screens*/
@media only screen and (min-width: 1590px) {
  /*Navingation bar*/
  .logo{
    text-align: center;
    width: 30%;
  }
  .menu-button{
    display: none;
  }
}

/*screens: start of smaller than 1024 screens*/
@media only screen and (max-width: 1024px) {
  /*Navingation*/
  nav{
    min-height: 7vh;
  }
  .menu-button-holder span{
    display: inline-block;
    height: 5px;
    width: 80px;
    background: red;
    margin-top:8px;
    margin-bottom:8px;
    border-radius: 4px;
  }
  .nav-buttons{
    display: none;
  }
  .menu-button{
    width: 45%;
    margin: auto;
    border-radius: 5px;
    position: relative;
    right: 0;
    top: 0;
    padding: 3%;
  }
  .logo{
    width: 50%;
  }
  .logo a{
    width: 100%;
    line-height: 60px;
  }
  .logo span{
    font-size: 40px;
  }
  .logo img{
    height: 60px;
  }
  .menu-button-holder{
    margin-right: 1vh;
    width: auto;
    display: inline-block;
    cursor: pointer;
  }
  .menu-button-holder:hover .line2{
    width: 50px;
    transition: all 0.3s ease;
  }
  .change .line1 {
    background: #f5f5f5;
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-15px, 20px) scale(0.5);
    transition: 0.3s ease-in-out;
  }

  .change .line2 {opacity: 0;}

  .change .line3 {
    background: #f5f5f5;
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-15px, -20px) scale(0.5);
    transition: 0.3s ease-in-out;
  }
  .mobile-link{
    width: 100%;
    display: inline-block;
    margin: auto;
    font-size: 40px;
    margin-top: 5%;
    color: #f5f5f5;
    text-transform: capitalize;
  }

  .mobile-link:hover{
    transform: scale(1.2);
    transition: all 0.3s ease-in-out;
  }
  .mobile-menu{
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .bg-holder{
    background-image: url("/stubbs/img/bg/mobile-home-1.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 1484px;
  }
  .bg-holder img{
    margin: auto;
    width: auto;
    height: 1200px;
  }

  .big-intro-text{
    font-size: 200px;
  }
  .big-intro-text div{
    max-width: 1000px;
    padding: 5%;
    margin: auto;
  }
  .explore-button{
    padding: 15px 80px;
    font-size: 30px;
  }
  .down-arrow{
    height: 20px;
    width: 20px;
    margin: 5px;
  }
}
